*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  padding:1.9rem;
}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
  /* gap:1.5rem; */
}

.headbox h1{
  color:hsl(300, 43%, 22%);
  font-size: 2.5rem;
  font-family: "League Spartan", sans-serif; 
  font-weight: 700;
  text-align:center;
  padding:1rem;
  padding-bottom:1.5rem;

}

.headbox p{
  font-family: "League Spartan", sans-serif; 
  font-size: 1rem;
  color:hsl(303, 10%, 53%);
  font-weight: 500;
  line-height:1.4;
  text-align: center;
  padding-bottom:1.5rem;
}


.rating{
  color:hsl(300, 43%, 22%);
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
}

.rate1{
  padding:0.85rem 1rem;
  background-color:hsl(300, 24%, 96%);
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:0.7rem;
  margin-bottom:1rem;
  border-radius: 0.3rem;
  
}

.rate2{
  padding:0.85rem 1rem;
  background-color:hsl(300, 24%, 96%);
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:0.7rem;
  margin-bottom:1rem;
  border-radius: 0.3rem;
}

.rate3{
  padding:0.85rem 1rem;
  background-color:hsl(300, 24%, 96%);
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:0.7rem;
  margin-bottom:3rem;
  border-radius: 0.3rem;
}

.card_1{
  background-color: hsl(300, 43%, 22%);
  margin-bottom:1rem;
  border-radius: 0.3rem;
  padding:2rem 1.8rem;
}

.card_2{
  background-color: hsl(300, 43%, 22%);
  margin-bottom:1rem;
  border-radius: 0.3rem;
  padding:2rem 1.8rem;
}

.card_3{
  background-color: hsl(300, 43%, 22%);
  margin-bottom:4rem;
  border-radius: 0.3rem;
  padding:2rem 1.8rem;
}

.feedback img{
  height:2.5rem;
  width:2.5rem;
  border-radius:50%;
}

.author {
  display: grid;
  grid-template-columns: 40px 1fr; 
  grid-template-rows: auto auto; 
  align-items: center; 
  column-gap: 1.3rem;
}

.author img {
  grid-row: 1 / 3; 
  place-self: center;
}

.author h2,
.author p {
   grid-column: 2; 
}

.author h2{
  color: hsl(0, 0%, 100%);
  font-size:1rem;
  font-weight: 700;
  font-family: "League Spartan", sans-serif; 
}

.author p{
  padding-top: 0.2rem;
  color: hsl(333, 80%, 67%);
  font-family: "League Spartan", sans-serif; 
}

blockquote{
  font-family: "League Spartan", sans-serif; 
  padding-top: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  line-height: 1.4;
}


@media screen and (min-width:43rem)  {
  
   body{
    max-height:100vh;
   }
   .flx1{
    display: flex;
    flex-direction: row;
   }
   .feedback{
    display:flex;
    flex-direction: row;
   }
  

 
}


