*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    
}

main{
    height:100vh;
    max-width:100vw;
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flx1{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:50%;
}

.headbox{
    display:flex;
    flex-direction: column;
    width:37%;
    margin-left:75px;
}

.headbox h1{
    color:hsl(300, 43%, 22%);
    font-size: 60px;
    font-family: "League Spartan", sans-serif; 
    font-weight: 700;
    
}

.headbox p{
    font-family: "League Spartan", sans-serif; 
    font-size: 20px;
    color:hsl(303, 10%, 53%);
    font-weight: 500;
    padding-top:25px;
    line-height:1.4;
}

.feedback{
    display:flex;
}

.rating{
    width:67%;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    max-width: 45%;
    margin-bottom:1rem;
}

.rating img{
    margin:2px;
}

/* .rating .star p{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
} */
.rating p{
    padding-left:1rem;

}
.rate1{
    display:flex;
    max-width:75%;
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    margin:15px;
    margin-left: -10px;
    padding:15px;
    padding-right:74px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.rate2{
    display:flex;
    max-width: 75%;
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    margin:15px;
    margin-left:37px;
    padding:15px;
    padding-right:40px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.rate3{
    display:flex;
    max-width: 75%;
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    margin:15px;
    margin-left:80px;
    padding:15px;
    padding-right:70px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}


.card1{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height: 14rem;  /* Use rem for height */
    width: 22rem;  /* Use rem for width */
    padding: 2rem;  /* Use rem for padding */
    margin: 1.5rem;
}

.profile{
    display:flex;

}
.author{
    display:flex;
    flex-direction: column;
    padding-left:10px;
    font-family: "League Spartan", sans-serif; 
}

.author span:first-child{
    color:hsl(0, 0%, 100%);
    padding:5px;
}

.author span:last-child{
    color:hsl(333, 80%, 67%);
    padding-left:5px;
}
.flx2 img{
    height:35px;
    width:35px;
    border-radius: 50%;
}

.flx2 p{
    padding-top:20px;
    color:hsl(0, 0%, 100%);
    font-family: "League Spartan", sans-serif;
    line-height: 1.5;
}

.card2{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height: 14rem;  /* Use rem for height */
    width: 22rem;  /* Use rem for width */
    padding: 2rem;  /* Use rem for padding */
    margin: 1.5rem;
    margin-left:0.5rem;
    margin-top:2.5rem;
}

.card3{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height: 14rem;  /* Use rem for height */
    width: 22rem;  /* Use rem for width */
    padding: 2rem;  /* Use rem for padding */
    margin:10px;
    margin-top:3.5rem;
}

/* font-family: "League Spartan", sans-serif; */

@media screen and (max-width:375px) {
     .flx1{
        flex-direction: column;
     }
     .flx2{
        flex-direction: column;
     }
}
