*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    
}

main{
    height:100vh;
    width:100vw;
    padding:2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flx1{
    display:flex;
    align-items: center;
    justify-content: center;
    height:50%;
}

.headbox{
    display:flex;
    flex-direction: column;
    width:37%;
}

.headbox h1{
    color:hsl(300, 43%, 22%);
    font-size: 60px;
    font-family: "League Spartan", sans-serif; 
    font-weight: 700;
    
}

.headbox p{
    font-family: "League Spartan", sans-serif; 
    font-size: 20px;
    color:hsl(303, 10%, 53%);
    font-weight: 500;
    padding-top:25px;
    line-height:1.4;
}

.feedback{
    display:flex;
}

.rating{
    width:67%;
    color:hsl(300, 43%, 22%);
    font-weight: 700;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    max-width: 40%;
}

.rating img{
    margin:3px;
}

.rating p{
    padding-left:1rem;
}
.rate1{
    display:flex;
    max-width:85%;
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    margin:10px;
    padding:20px;
    padding-right:10px;
}

.rate2{
    display:flex;
    max-width: 85%;
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    margin:20px;
    margin-left:4rem;
    padding:20px;
    padding-right:0px;
}

.rate3{
    display:flex;
    max-width: 100%;
    background-color:hsl(300, 24%, 96%);
    border-radius:10px;
    margin:20px;
    margin-left:7rem;
    padding:20px;
    /* padding-right:70px; */
}

.feedback{
  
}


.card1{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height:220px;
    width:300px;
    padding:20px;
    margin:20px;
}

.profile{
    display:flex;

}
.author{
    display:flex;
    flex-direction: column;
    padding-left:10px;
    font-family: "League Spartan", sans-serif; 
}

.author span:first-child{
    color:hsl(0, 0%, 100%);
}

.author span:last-child{
    color:hsl(333, 80%, 67%);
}
.flx2 img{
    height:35px;
    width:35px;
    border-radius: 50%;
}

.flx2 p{
    color:hsl(0, 0%, 100%);
    font-family: "League Spartan", sans-serif;
}

.card2{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height:220px;
    width:300px;
    padding:20px;
    margin:20px;
}

.card3{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    height:220px;
    width:300px;
    padding:20px;
    margin:20px;
}

/* font-family: "League Spartan", sans-serif; */